In [39]:
import pandas as pd

In [41]:
data = pd.read_csv("tested.csv")
condition = True
total_survivors_checked = 0
checked = 0
while condition:
    name = input("Enter Passenger Name (Type Quit if Completed): ").lower()
    if name == 'quit': 
        print("----------------------------------------------------------------------")
        print(f"Total Passengers Name Checked : {checked}") 
        print(f"Passengeres Survived : {total_survivors_checked}") 
        print(f"Passengers who didn't Survived : {checked - total_survivors_checked}")
        break
    
    if name not in list(data.Name.map(str.lower)): 
        print("Enter Valid Passenger Name \n") 
        continue
    else:  
        if int(data.Survived[data.Name.map(str.lower) == name]) == 1: 
            print("Survived") 
            print("\n")
            total_survivors_checked += 1
        else: 
            print("Didn't Survived") 
            print("\n")
        checked += 1

Enter Passenger Name (Type Quit if Completed):  Kelly, Mr. James

Didn't Survived

Enter Passenger Name (Type Quit if Completed):  Myles, Mr. Thomas Francis

Didn't Survived

Enter Passenger Name (Type Quit if Completed):  Hirvonen, Mrs. Alexander (Helga E Lindqvist)

Survived

Enter Passenger Name (Type Quit if Completed):  abcd

Enter Valid Passenger Name

Enter Passenger Name (Type Quit if Completed):  quit

----------------------------------------------------------------------
Total Passengers Name Checked : 3
Passengeres Survived : 1
Passengers who didn't Survived : 2

In [40]:
data.loc[:,["Survived","Name"]]

     Survived                                          Name
0           0                              Kelly, Mr. James
1           1              Wilkes, Mrs. James (Ellen Needs)
2           0                     Myles, Mr. Thomas Francis
3           0                              Wirz, Mr. Albert
4           1  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..        ...                                           ...
413         0                            Spector, Mr. Woolf
414         1                  Oliva y Ocana, Dona. Fermina
415         0                  Saether, Mr. Simon Sivertsen
416         0                           Ware, Mr. Frederick
417         0                      Peter, Master. Michael J

[418 rows x 2 columns]